<<<<<<< HEAD
.my-btn {
    background: #ff77c4;
    border: 5px solid #ff77c4;
    color: white;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
}

.my-btn:hover {
    background: #a14b8f;
    border-color: #6f2c63;
=======
.my-btn {
    background: #ff77c4;
    border: 5px solid #ff77c4;
    color: white;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
}

.my-btn:hover {
    background: #a14b8f;
    border-color: #6f2c63;
>>>>>>> 08432ef (Add new folder)
}