* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.logo {
    height: 40px;
}

.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}


.search {
    width: 60%;
    padding: 8px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.nav-right {
    display: flex;
    gap: 15px;
}

.icon {
    font-size: 20px;
    cursor: pointer;
}

.categories-bar {
    display: flex;
    gap: 10px;
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
}

.tag {
    padding: 6px 14px;
    border: none;
    background: #eee;
    border-radius: 14px;
    cursor: pointer;
}

.tag:hover {
    background: #ccc;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
    justify-content: flex-start;
}

.video-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.thumb {
    width: 100%;
    border-radius: 8px;
}

.video-card h3 {
    font-size: 16px;
}

.video-card p {
    font-size: 12px;
    color: #555;
}